<div class="product-details-container" *ngIf="product">
  <div class="details-card">
    <h3>Детали продукта: {{ product.name }}</h3>
    
    <div class="detail-row">
      <span class="detail-label">Описание:</span>
      <span class="detail-value">{{ product.description }}</span>
    </div>
    
    <div class="detail-row">
      <span class="detail-label">Стоимость в рублях:</span>
      <span class="detail-value">{{ product.price | formatPrice }}</span>
    </div>
    
    <div class="detail-row">
      <span class="detail-label">Примечание общее:</span>
      <span class="detail-value">{{ product.noteGeneral }}</span>
    </div>
    
    <div class="detail-row">
      <span class="detail-label">Примечание специальное:</span>
      <span class="detail-value">{{ product.noteSpecial }}</span>
    </div>
  </div>
</div>
